
html {
    scroll-behavior: smooth !important;
  }

body {
    
    font-family: "Raleway", sans-serif; 
    padding: 0;
    margin: 0;
}

.impressum {
  margin: 0 auto;
  padding: 0 50px;
  padding-top: 100px;
  max-width: 1440px;
  padding-bottom: 100px;
}


  



